@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

:root {
	--primary-color: #e74c3c;
	--accent-color: #3498db;
	--background-color: #F2EFEA;
	--text-color: #222222;
	--secondary-text-color: #666666;

	--form-width: 8rem;
	--form-height: 2rem;
	--form-background-color: #3A134E;

	--card-width: 20vw;
	--card-height: 70vh;
	--card-border-radius: 2rem;

	--teacher-padding: 1rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	color: var(--text-color);
	text-decoration: none;
	font-family: 'Courier Prime', monospace;
	transition: all 0.5s ease-in-out, opacity 0s;
}

body {
	background: var(--background-color);
	overflow: hidden;
}

#logoutButton {
	position: absolute;
	right: 0;
}

select, input {
	font-size: 1rem;
	font-weight: bold;
}

input {
	text-align: left;
	width: var(--form-width);
	height: var(--form-height);
}

#formBox {
	position: absolute;
	display: flex;
	justify-content: center;
	background-color: var(--form-background-color);
	width: calc(var(--form-width) * 3);
	height: calc(var(--form-height) * 7);
	top: 20%;
	left: calc(50% - var(--form-width) * 3 / 2);
	border-radius: 1rem;
}

#loginForm, #registerForm {
	margin: auto;
}

#rating {
	margin: auto;
}

#teacherCard {
	background-color: var(--primary-color);
	overflow: hidden;
	width: var(--card-width);
	height: var(--card-height);
	border-radius: var(--card-border-radius);
	position: fixed;
}

#teacherCard > * {
	padding: var(--teacher-padding);
}

#teacherCard img {
	height: calc(var(--card-height) - 30vh);
	width: var(--card-width);
	padding-bottom: 0;
	border-radius: 
		calc(var(--card-border-radius) + var(--teacher-padding)) 
		calc(var(--card-border-radius) + var(--teacher-padding)) 
		0 
		0;
	object-fit: cover;
	border-bottom: 0.2rem solid var(--text-color);
}

#teacherName {
	font-size: 1.5rem;
	font-weight: bold;
}

#teacherSubjects {
	font-size: 1.2rem;
}